In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz')

In [5]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.0,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.0,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0