Extract

In [1]:
# Read the ordes data
import pandas as pd 
orders = pd.read_csv('data/orders.csv')
orders.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Transfer Type,Receive Country,Net Sent Amount GBP,Net Orders
0,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Argentina,150829.0,5
1,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Argentina,27309.0,1
2,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Kenya,3290404.0,79
3,2019-W48,Mobile,Mobile App,APAC,Australia,Mobile Money,Kenya,1148144.0,30
4,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Kenya,12329935.0,282

In [2]:
visits = pd.read_csv('data/visits.csv')
visits.head()

,Rpt Week,Super Region,Country Name,Mobile Indicator Name,Platform Type Name,Visits
0,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909
1,2019-W45,APAC,Australia,Desktop,Desktop,156987
2,2018-W48,NaN,US,Desktop,Desktop,2492783
3,2019-W46,APAC,South Korea,Mobile,Mobile App,264614
4,2019-W46,EMEA,United Kingdom,Mobile,Mobile App,149083

Transform

In [4]:
# check for null values
orders.isnull().sum() # NA means north america which has been interprated as NaN in Super Region

Week                         0
Mobile Indicator Name        0
Platform Type Name           0
Super Region             20265
Country Name                 0
Transfer Type                0
Receive Country              0
Net Sent Amount GBP          0
Net Orders                   0
dtype: int64

In [14]:
orders.loc[orders['Country Name'] == 'US']

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Transfer Type,Receive Country,Net Sent Amount GBP,Net Orders
7242,2019-W48,Desktop,Desktop,NaN,US,Mobile Money,Andorra,103.8300,1
7243,2019-W48,Desktop,Desktop,NaN,US,Mobile Money,Anguilla,5371.8000,3
7244,2019-W48,Mobile,Mobile App,NaN,US,Mobile Money,Antigua and Barbuda,3757.2000,1
7245,2019-W48,Mobile,Mobile Web,NaN,US,Mobile Money,Antigua and Barbuda,4313.7500,1
7246,2019-W48,Desktop,Desktop,NaN,US,Mobile Money,Antigua and Barbuda,7177.9314,3
...,...,...,...,...,...,...,...,...,...
73683,2018-W45,Mobile,Mobile App,NaN,US,Next Day Bank Transfer,Vietnam,296.1000,1
73684,2018-W45,Desktop,Desktop,NaN,US,Next Day Bank Transfer,Zambia,1275.0700,1
73685,2018-W45,Desktop,Desktop,NaN,US,Next Day Bank Transfer,Zimbabwe,766.5700,2
73686,2018-W45,Desktop,Desktop,NaN,US,Unknown,Nigeria,8273.5100,190
73687,2018-W45,Mobile,Mobile Web,NaN,US,Unknown,Nigeria,392.1900,2

In [17]:
orders.loc[orders['Country Name'] == 'US', 'Super Region'] = orders.loc[orders['Country Name'] == 'US', 'Super Region'].fillna('NA')

In [18]:
# Counter check the nulls
orders.isnull().sum()

Week                     0
Mobile Indicator Name    0
Platform Type Name       0
Super Region             0
Country Name             0
Transfer Type            0
Receive Country          0
Net Sent Amount GBP      0
Net Orders               0
dtype: int64

In [27]:
orders.head(15)

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Transfer Type,Receive Country,Net Sent Amount GBP,Net Orders
0,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Argentina,150829.0,5
1,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Argentina,27309.0,1
2,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Kenya,3290404.0,79
3,2019-W48,Mobile,Mobile App,APAC,Australia,Mobile Money,Kenya,1148144.0,30
4,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Kenya,12329935.0,282
5,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Austria,72250.0,2
6,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Austria,17794.0,2
7,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Belgium,117641.0,5
8,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Belgium,-103881.0,0
9,2019-W48,Mobile,Mobile App,APAC,Australia,Mobile Money,Belgium,32857.0,1
10,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Bolivia,31600.0,1
11,2019-W48,Mobile,Mobile App,APAC,Australia,Mobile Money,Cameroon,55767.0,1
12,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Cameroon,209019.0,0
13,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Brunei,13434.0,1
14,2019-W48,Mobile,Mobile App,APAC,Australia,Mobile Money,Cambodia,214.0,0

In [5]:
visits.isnull().sum() # Again super region

Rpt Week                  0
Super Region             24
Country Name              0
Mobile Indicator Name     0
Platform Type Name        0
Visits                    0
dtype: int64

In [20]:
visits.loc[visits['Country Name'] == 'US']

,Rpt Week,Super Region,Country Name,Mobile Indicator Name,Platform Type Name,Visits
2,2018-W48,NaN,US,Desktop,Desktop,2492783
11,2019-W46,NaN,US,Mobile,Mobile App,933848
14,2019-W46,NaN,US,Desktop,Desktop,3263370
16,2019-W47,NaN,US,Mobile,Mobile App,943689
18,2018-W48,NaN,US,Mobile,Mobile Web,1807551
37,2018-W45,NaN,US,Mobile,Mobile Web,1974488
50,2019-W48,NaN,US,Mobile,Mobile Web,2312706
51,2019-W47,NaN,US,Mobile,Mobile Web,2314304
59,2019-W45,NaN,US,Mobile,Mobile Web,2427369
64,2018-W46,NaN,US,Desktop,Desktop,2984918
70,2019-W45,NaN,US,Desktop,Desktop,3318809
71,2018-W46,NaN,US,MBL,Mobile Web,1973540
75,2018-W45,NaN,US,MOBILE,Mobile App,713416
90,2019-W47,NaN,US,Desktop,Desktop,3165974
97,2019-W48,NaN,US,Desktop,Desktop,2538034
100,2018-W47,NaN,US,Desktop,Desktop,2812447
103,2019-W48,NaN,US,Mobile,Mobile App,954595
104,2018-W45,NaN,US,Desktop,Desktop,3004498
112,2018-W46,NaN,US,MOBILE,Mobile App,696393
117,2018-W47,NaN,US,MOBILE,Mobile App,668051
120,2019-W46,NaN,US,MOBILE,Mobile Web,2403081
126,2019-W45,NaN,US,MOBILE,Mobile App,1016458
144,2018-W48,NaN,US,Mobile,Mobile App,660779
146,2018-W47,NaN,US,Mobile,Mobile Web,1821254

In [21]:
visits.loc[visits['Country Name'] == 'US', 'Super Region'] = visits.loc[visits['Country Name'] == 'US', 'Super Region'].fillna('NA')

In [22]:
visits.isnull().sum()

Rpt Week                 0
Super Region             0
Country Name             0
Mobile Indicator Name    0
Platform Type Name       0
Visits                   0
dtype: int64

In [6]:
# Check for duplicate rows
orders.duplicated().sum()

np.int64(0)

In [7]:
# Print the duplicated rows
visits[visits.duplicated()]

Empty DataFrame
Columns: [Rpt Week, Super Region, Country Name, Mobile Indicator Name, Platform Type Name, Visits]
Index: []

In [23]:
# check the data types
orders.dtypes

Week                      object
Mobile Indicator Name     object
Platform Type Name        object
Super Region              object
Country Name              object
Transfer Type             object
Receive Country           object
Net Sent Amount GBP      float64
Net Orders                 int64
dtype: object

In [24]:
visits.dtypes

Rpt Week                 object
Super Region             object
Country Name             object
Mobile Indicator Name    object
Platform Type Name       object
Visits                    int64
dtype: object

In [26]:
# Standardize the 'Rpt Week' format in visits data
visits['Rpt Week'] = visits['Rpt Week'].str.replace('~','-')

In [37]:
# Convert values written as MBL to Mobile in MObile indicator
visits.loc[visits['Mobile Indicator Name'] == 'MBL']

,Rpt Week,Super Region,Country Name,Mobile Indicator Name,Platform Type Name,Visits
32,2018-W45,EMEA,United Kingdom,MBL,Mobile App,107766
63,2018-W47,LATAM,Brazil,MBL,Mobile Web,127229
65,2019-W47,APAC,Hong Kong,MBL,Mobile Web,127229
66,2018-W45,APAC,Hong Kong,MBL,Mobile Web,88264
69,2019-W47,APAC,Australia,MBL,Mobile App,44375
71,2018-W46,NA,US,MBL,Mobile Web,1973540
72,2019-W45,APAC,Australia,MBL,Mobile Web,109960
73,2018-W48,EMEA,Norway,MBL,Mobile App,19654

In [38]:
visits['Mobile Indicator Name'] = visits['Mobile Indicator Name'].replace({'MBL': 'Mobile'})

In [39]:
visits.loc[visits['Mobile Indicator Name'] == 'MBL']

Empty DataFrame
Columns: [Rpt Week, Super Region, Country Name, Mobile Indicator Name, Platform Type Name, Visits]
Index: []

In [40]:
# Convert all capital letters to camel case in the Mobile Indicator column
visits['Mobile Indicator Name'] = visits['Mobile Indicator Name'].str.title()

In [41]:
visits.head(130)

,Rpt Week,Super Region,Country Name,Mobile Indicator Name,Platform Type Name,Visits
0,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909
1,2019-W45,APAC,Australia,Desktop,Desktop,156987
2,2018-W48,NA,US,Desktop,Desktop,2492783
3,2019-W46,APAC,South Korea,Mobile,Mobile App,264614
4,2019-W46,EMEA,United Kingdom,Mobile,Mobile App,149083
...,...,...,...,...,...,...
125,2018-W46,EMEA,United Kingdom,Desktop,Desktop,505895
126,2019-W45,NA,US,Mobile,Mobile App,1016458
127,2019-W45,EMEA,Norway,Mobile,Mobile App,34341
128,2018-W48,APAC,South Korea,Mobile,Mobile App,94798
129,2018-W45,APAC,Hong Kong,Mobile,Mobile App,52629

In [30]:
orders = orders.rename(columns={'Week': 'Rpt Week'})

In [42]:
orders.head()

,Rpt Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Transfer Type,Receive Country,Net Sent Amount GBP,Net Orders
0,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Argentina,150829.0,5
1,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Argentina,27309.0,1
2,2019-W48,Mobile,Mobile Web,APAC,Australia,Mobile Money,Kenya,3290404.0,79
3,2019-W48,Mobile,Mobile App,APAC,Australia,Mobile Money,Kenya,1148144.0,30
4,2019-W48,Desktop,Desktop,APAC,Australia,Mobile Money,Kenya,12329935.0,282

In [43]:
# Merge the two datasets based on common columns
merged_df = pd.merge(visits, orders,
                     left_on= ["Rpt Week", "Super Region", "Country Name", "Mobile Indicator Name", "Platform Type Name"],
                     right_on= ["Rpt Week", "Super Region", "Country Name", "Mobile Indicator Name", "Platform Type Name"],
                     how="inner")

merged_df.head()

,Rpt Week,Super Region,Country Name,Mobile Indicator Name,Platform Type Name,Visits,Transfer Type,Receive Country,Net Sent Amount GBP,Net Orders
0,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909,Mobile Money,Armenia,290.7396,1
1,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909,Mobile Money,Kenya,314.9256,1
2,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909,Mobile Money,Austria,1006.3096,1
3,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909,Mobile Money,Belgium,738.8478,1
4,2019-W47,EMEA,Norway,Mobile,Mobile Web,88909,Mobile Money,Cameroon,-176.9450,-1

In [44]:
merged_df.shape[0]

73638

Load

In [45]:
# Store the new data in a csv file
merged_df.to_csv('data/merged_data.csv', index=False, 
                 columns=["Rpt Week", "Super Region", "Country Name", "Mobile Indicator Name", "Platform Type Name", "Transfer Type",  'Receive Country', 'Net Sent Amount GBP', 'Net Orders', 'Visits'])